@import '../../../../variables.scss';

.btn{
  width: 55px;
  height: 55px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
  &:hover{
    color: $orange;
  }
}