<div>
  <form 
    [formGroup]="statisticForm"
    (change)="onChanges()"
    >
    <div class="select__wrapper">
      <label class="select__label">{{ 'selectSubject' | translate }}</label>
      <ng-select
        formControlName="subject"
        [items]="subjects"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="false"
        bindLabel="name"
        placeholder="{{ 'selectSubject' | translate }}"
        [(ngModel)]="selectedSubject">
      </ng-select>
    </div>
    <div class="select__wrapper" *ngIf="selectedSubject">
      <label class="select__label">{{ 'selectDate' | translate }}</label>
      <ng-select
        formControlName="date"
        [items]="uniqDates"
        bindValue="day"
        bindLabel="day"
        placeholder="{{ 'selectDate' | translate }}"
        [(ngModel)]="selectedDay">
      </ng-select>
      <p class="info__message">{{infoMessage}}</p>
    </div>
  </form>
  <div *ngIf="result" class="statistic__result">
    <ul>
      <li *ngFor="let subj of result">
        {{subj.name}}
        <ul>
          <li *ngFor="let res of subj.result">{{res.name}} {{res.lastName}} got {{res.mark}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>