@import '../../../assets/style/variables.scss';

.table__wrapper{
  padding: 2rem 0;
  .table{
    margin-bottom: 2rem;
    &__header{
      background: $primary;
    }
    &__link{
      color: $white;
      text-decoration: none;
    }
  }
}

