<div class="table__wrapper">
  <table class="table table--blue" *ngIf="!formVis">
    <thead>
      <tr>
        <th id="id">
          <a href (click)="sortTable('id')" class="table__link">{{ 'studentsTable.id' | translate }}</a>
        </th>
        <th id="name">
          <a href (click)="sortTable('name')" class="table__link">{{ 'studentsTable.name' | translate }}</a>
        </th>
        <th id="lastName">
          <a href (click)="sortTable('lastName')" class="table__link">{{ 'studentsTable.lastName' | translate }}</a>
        </th>
        <th id="address">
          <a href (click)="sortTable('address')" class="table__link">{{ 'studentsTable.address' | translate }}</a>
        </th>
        <th id="description">
          <a href (click)="sortTable('description')" class="table__link">{{ 'studentsTable.description' | translate }}</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students | async | sortingStudents:path:order">
        <td>
          {{student.id}}
        </td>
        <td>
          {{student.name}}
        </td>
        <td>
          {{student.lastName}}
        </td>
        <td>
          {{student.address}}
        </td>
        <td>
          {{student.description}}
        </td>
      </tr>
    </tbody>
  </table>
  <app-form [formFields]="formFields" *ngIf="formVis" (submitted)="addStudent($event)">
    <h3 class="form__title">{{ 'students.formTitle' | translate}}</h3>
  </app-form>
  <app-button
    (click)="formVis = !formVis"
    [type]="button"
  ></app-button>
</div>

