<div class="container">
  <div>
    <span>XLSX:</span>
    <ul class="export__list">
      <li class="export__item">
        <button (click)="exportStudentsAsXLSX()" class="export__btn">Export students as XLSX</button>
      </li>
      <li>
        <button (click)="exportSubjectsAsXLSX()" class="export__btn">Export subjects as XLSX</button>
      </li>
    </ul>
  </div>
  <div>
    <span>PDF:</span>
    <ul class="export__list">
      <li class="export__item">
        <button (click)="exportStudentsAsPDF()" class="export__btn">Export students as PDF</button>
      </li>
      <li>
        <button (click)="exportSubjectsAsPDF()" class="export__btn">Export subjects as PDF</button>
      </li>
    </ul>
  </div>
</div>


