@import '../../../assets/style/variables.scss';

.subject{
  &__wrapper{
    padding: 2rem 0;
    width: 80%;
    margin: 0 auto;
  }
  &__list{
    margin: 0 auto 2rem;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  &__item{
    background: $orange;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
  }
  &__link{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1100px){
  .subject__list{
    grid-template-columns: repeat(3, 1fr)
  }
}