<header>
  <div class="lang">
    <button (click)="useLanguage('en')">en</button>
    <button (click)="useLanguage('ru')">ru</button>
  </div>
  <div>
    <h1 class="header">{{ 'title' | translate }}</h1>
  </div>
  <nav class="nav">
    <a routerLink='/students' class="nav__item">{{ 'students' | translate}}</a>
    <a routerLink='/subjects' class="nav__item">{{ 'subjects' | translate}}</a>
    <a routerLink='/statistic' class="nav__item">{{ 'statistic' | translate}}</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>



