@import '../../assets/style/variables.scss';

.header{
  text-align: center;
}

.nav{
  display: flex;
  justify-content: center;
  &__item{
    color: $white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background: $lightGrey;
    border-radius: 5px;
    transition: .3s;
    font-weight: bold;
    &:not(:last-child){
      margin-right: 1rem;
    }
    &:hover{
      color: $orange;
      background: darken($lightGrey, 10%);
    }
  }
}