<div class="form__wrapper">
  <ng-content select=".form__title"></ng-content>
  <form
    class="form--add"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit(profileForm.value); myForm.reset()"
    #myForm="ngForm">
    <div class="form__field" *ngFor='let field of formFields'>
      <label class="form__label" [class.required]="field.isRequired">
        {{ ('form.inputLabel' + field.id ) | translate}}
        <input 
          class="form__input"
          [required]="field.isRequired"
          formControlName={{field.id}}
          />
      </label>
    </div>
    <div class="form__field">
      <label class="form__label">
        {{ 'form.descriptionTextareaLabel' | translate}}
        <textarea class="form__input" formControlName="description"></textarea>
      </label>
    </div>
    <button 
      class="form__btn" 
      type="submit" 
      [disabled]="!profileForm.valid">{{ 'form.buttonText' | translate }}</button>
  </form>
</div>
