/* You can add global styles to this file, and also import other style files */
@import '../src/assets/style/variables.scss';

*, *::before, *::after{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: $bg-darkGrey;
  color: $white;
}

main{
  padding: 0 15px;
}

.table{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid $white;
  border-radius: 5px;
  &--blue{
    thead th{
      padding: 10px;
      background: $primary;
    }
  }
}
