<div class="subject__inner" *ngIf="subject">
  <div class="table__wrapper">
    <h3>{{subject.name}}</h3>
    <button class="subject__btn" (click)="addDay()">+</button>
    <table class="table table--blue">
      <thead>
        <tr>
          <th *ngFor="let th of thead">
            <input type="text" value="{{th}}" class="table__input">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentsList">
          <td *ngFor="let data of student">
            <input type="text" [(ngModel)]="data" class="table__input">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="subject__field">
    <label class="subject__label">Teacher:
      <input 
        class="subject__input"
        [(ngModel)]="subject.teacher"
        placeholder="teacher"
      >
    </label>
  </div>
  <app-button [type]="button"></app-button>
</div>
