<div class="subject__inner" *ngIf="subject">
  <div class="table__wrapper">
    <h3>{{subject.name}}</h3>
    <app-button [type]="buttonPlus" class="subject__btn" (click)="addDay()"></app-button>
    <table class="table table--blue">
      <thead>
        <tr>
          <th>{{ 'subjectsTable.name' | translate}}</th>
          <th>{{ 'subjectsTable.lastName' | translate}}</th>
          <th>{{ 'subjectsTable.averageMark' | translate}}</th>
          <th *ngFor="let day of subject.date">
            <input
              type="text"
              value="{{day}}"
              [(ngModel)]="day"
              class="table__input"
              placeholder="{{ 'subjectsTable.placeholderDate' | translate}}">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of subject.students">
          <td>{{student.name}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.averageMark | defaultMark}}</td>
          <td *ngFor="let mark of student.marks">
            <input 
              type="text" 
              value="{{mark.mark}}"
              [(ngModel)]="mark.mark"
              class="table__input"
              (blur)="calcAverage()"
              placeholder="{{ 'subjectsTable.placeholderMark' | translate}}">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="subject__field">
    <label class="subject__label">{{ 'subjectsTable.teacherNameLabel' | translate }}
      <input 
        class="subject__input"
        [(ngModel)]="subject.teacher"
        placeholder="teacher"
      >
    </label>
  </div>
  <app-button [type]="button" (click)="saveSubject()"></app-button>
</div>
