<div class="subject__inner" *ngIf="selectedSubject$">
  <div class="table__wrapper">
    <h3>{{selectedSubject$.name}}</h3>
    <app-button [type]="buttonPlus" class="subject__btn" (click)="addDay()"></app-button>
    <table class="table table--blue">
      <thead>
        <tr>
          <th>{{ 'name' | translate}}</th>
          <th>{{ 'lastName' | translate}}</th>
          <th>{{ 'averageMark' | translate}}</th>
          <th *ngFor="let oneDay of selectedSubject$.date">
            <input
              type="text"
              value="{{oneDay.day}}"
              [(ngModel)]="oneDay.day"
              (blur)="onDateChange()"
              class="table__input"
              placeholder="{{ 'placeholderDate' | translate}}">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of selectedSubject$.students">
          <td>{{student.name}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.averageMark | defaultMark}}</td>
          <td *ngFor="let mark of student.marks">
            <input 
              type="text" 
              value="{{mark.mark}}"
              [(ngModel)]="mark.mark"
              class="table__input"
              (blur)="calcAverage()"
              placeholder="{{ 'placeholderMark' | translate}}">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="subject__field">
    <label class="subject__label">{{ 'teacher' | translate }}
      <input 
        class="subject__input"
        [(ngModel)]="selectedSubject$.teacher"
        placeholder="teacher"
      >
    </label>
  </div>
  <app-button [type]="button" (click)="saveSubject()" class="btn--save"></app-button>
</div>
